<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="css/lux.min.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/medias.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent sticky-top" id="menu">
            <a class="navbar-brand" href="#"><img src="img/CDsofIcont.png" alt="" class="icon"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                                            <a class="nav-link" href="#"></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">Farmacia Kielsa</a>
                                                <a class="dropdown-item " href="#">Farmacia Jalapeño</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Farmacia Boulevard</a>
                                            </div>
                                        </li> -->
                    <li class="nav-item">
                        <a href="#Productos" class="nav-link">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sobre-nosotros" class="nav-link">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="#formulario" class="nav-link">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#capturas" class="nav-link">Screenshot</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <section class="row fondo">
                <div class="col-12 col-md-6">
                    <h1 class="text-center slogan">CDsoft</h1>
                    <h1 class="text-center subslogan">Siempre Innovando</h1>
                </div>
                <div class="col-12 col-md-6 video">
                    <!-- <img src="img/facturacion.png" alt="" class="img-fluid shadow d-block"> -->
                    <video src="videos/video.mp4" controls class="img-fluid shadow"></video>
                </div>
            </section>
            <div class="row justify-content-center mt-5">
                <div class="col-12 text-center">
                    <h3 class="p-2 border-bottom border-info d-inline-block">Productos</h3>
                </div>
            </div>
            <section class="row justify-content-center" id="Productos">
                <div class="col-10 col-md-4 mt-4">
                    <div class="card">
                        <div class="card-img-top">
                            <img src="img/ReportesR.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="card-footer text-center">
                            <a href="#">CDstore</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row mt-5 text-center justify-content-center sobre-nosotros" id="sobre-nosotros">
                <div class="col-sm-12 col-md-10 mt-4">
                    <h3 class="border-bottom border-info d-inline-block p-2">Sobre Nosotros</h3>
                    <p class="lead text-center mt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quibusdam iusto quidem!
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, repudiandae?
                        <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, suscipit iste.
                        <br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor perspiciatis exercitationem quod atque!
                    </p>
                </div>
            </section>
            <section class="row mt-5">
                <div class="col-12 text-center">
                    <h3 class="border-bottom border-info d-inline-block">Equipo</h3>
                    <div class="row justify-content-center mt-4">
                        <div class="col-6 col-md-4">
                            <div class="card">
                                <img src="img/ReportesR.jpg" alt="" class="card-img-top img-fluid">
                                <div class="card-body">
                                    <h5 class="card-title">Cesar Eduardo Diaz Maradiaga</h5>
                                    <p class="lead">Ing en Sitemas</P>
                                    <p class="lead">
                                        <b class="text-info">Cargo: </b>Programador Analista
                                    </p>
                                    <p class="font-weight-bold small">Cofundador</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="card">
                                <img src="img/ReportesR.jpg" alt="" class="card-img-top img-fluid">
                                <div class="card-body">
                                    <h5 class="card-title">Danny Angel Acuna</h5>
                                    <p class="lead">Ing en Sitemas</P>
                                    <p class="lead">
                                        <b class="text-info">Cargo: </b>SEO
                                    </p>
                                    <p class="font-weight-bold small">Cofundador</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row justify-content-center mt-5" id="formulario">
                <div class="col-md-4">
                    <h3 class="border-bottom border-info text-center text-white mt-5 p-2">Contacto</h3>
                    <div class="card-body">
                        <div class="form">
                            <form action="">
                                <div class="form-group">
                                    <input type="email" name="" id="" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="row mt-md-5">
                    <div class="col-12">
                        <div class="text-center">
                            <p>CDsoft &copy;</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/menuScroll.js"></script>
    </body>
</html>
